In [1]:
# Importing necessary models
import warnings
warnings.filterwarnings('ignore')

import smtplib
import pandas as pd
import numpy as np
import datetime as dt
import pandas.stats.moments as st
import time
%matplotlib inline

import plotly.plotly as py
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
from sqlalchemy import *
from sqlalchemy import create_engine

from functools import reduce

import tensorflow as tf

import sqlite3 as sql
pd.options.display.float_format = '{:,.4f}'.format

init_notebook_mode(connected=True)

import os

dbs_dir = 'C:\\Users\\Fang\\Desktop\\Python Trading\\Trading\\Data\\DBs'

os.chdir(dbs_dir)

earn_engine = create_engine('sqlite:///earningsHistory.db', echo=False)
yahoo_engine = create_engine('sqlite:///yahoo.db', echo = False)
reuters_engine = create_engine('sqlite:///reuters.db', echo=False)

In [2]:
period_fundamental_tables = list(filter(lambda x: 'quarterly' in x, yahoo_engine.table_names()))

In [3]:
# 'SELECT * FROM overviews WHERE Underlying IN ' + str(tuple(curr_earnings.index))

fa_df = []

for yahoo_table in period_fundamental_tables:

    yahoo_engine_query = 'SELECT * FROM {0}'.format(yahoo_table)

    yahoo_data = pd.read_sql_query(yahoo_engine_query,
                                   con = yahoo_engine).drop_duplicates()
    yahoo_data.quarter = pd.to_datetime(yahoo_data.quarter)
    yahoo_data = yahoo_data.sort_values(['Underlying','quarter']).reset_index(drop = True)
    
    if len(fa_df) == 0:
        fa_df = yahoo_data
    else:
        fa_df = pd.merge(fa_df, yahoo_data,
                         how = 'inner', on = ['quarter','Underlying'])
        

keep_cols = list(filter(lambda x: '_y' not in x and 
                        'maxAge' not in x and 
                        'minorityInterest' not in x, fa_df.columns.tolist()))
fa_df = fa_df[keep_cols].fillna(np.nan).replace('na',np.nan)

fa_df = fa_df[fa_df.Underlying.isin(fa_df[['quarter',
                                           'Underlying']][fa_df[['quarter',
                                                                 'Underlying']].duplicated()].Underlying.drop_duplicates().tolist()) == False]

fa_df = fa_df.set_index(['quarter','Underlying']).apply(lambda x: pd.to_numeric(x)).reset_index()

earnings_returns = pd.read_sql_query('SELECT * FROM postEarningsReturns', 
                                     con = earn_engine).drop_duplicates().drop_duplicates()

earnings_returns.earningsDate = pd.to_datetime(earnings_returns.earningsDate)
earnings_returns = earnings_returns.sort_values(['Underlying','earningsDate']).reset_index(drop = True)

In [40]:
key_periods = fa_df[['Underlying','quarter']].groupby(['quarter']).count()
key_periods = key_periods[key_periods.Underlying > 3000]

key_names = fa_df[fa_df.quarter.isin(key_periods.index.tolist())].groupby(['Underlying']).count()
key_names = key_names[key_names.quarter == len(key_periods)].index.tolist()

pre_tensor = fa_df[fa_df.Underlying.isin(key_names) & 
                   fa_df.quarter.isin(key_periods.index.tolist())].sort_values(['quarter','Underlying']).reset_index(drop = True)

In [41]:
n_obs = len(pre_tensor.quarter.drop_duplicates())
n_rows = len(pre_tensor.Underlying.drop_duplicates())
n_features = len(pre_tensor.columns)

In [70]:
pre_tensor.values.reshape(n_features,n_obs,n_rows)[0][0]

array([Timestamp('2017-12-31 00:00:00'), 'AA', 1898000000.0, ..., 0.23,
       0.043, 0], dtype=object)

In [47]:
pre_tensor

,quarter,Underlying,accountsPayable,capitalSurplus,cash,commonStock,deferredLongTermAssetCharges,deferredLongTermLiab,goodWill,intangibleAssets,...,netIncomeFromContinuingOps,nonRecurring,operatingIncome,otherItems,otherOperatingExpenses,researchDevelopment,sellingGeneralAdministrative,totalOperatingExpenses,totalOtherIncomeExpenseNet,totalRevenue
0,2017-12-31,AA,"1,898,000,000.0000","9,590,000,000.0000","1,358,000,000.0000","2,000,000.0000","814,000,000.0000",nan,"154,000,000.0000","62,000,000.0000",...,"-56,000,000.0000",nan,"559,000,000.0000",nan,"-4,000,000.0000","9,000,000.0000","70,000,000.0000",2615000000,-343000000,3174000000
1,2017-12-31,AAL,"1,688,000,000.0000","5,714,000,000.0000","295,000,000.0000","5,000,000.0000","427,000,000.0000",nan,"4,091,000,000.0000","2,203,000,000.0000",...,"258,000,000.0000",nan,"970,000,000.0000",nan,"1,231,000,000.0000",nan,"383,000,000.0000",9631000000,-545000000,10601000000
2,2017-12-31,AAN,"80,821,000.0000","270,043,000.0000","51,037,000.0000","45,376,000.0000","11,589,000.0000",nan,"622,948,000.0000","279,151,000.0000",...,"177,560,000.0000",nan,"110,653,000.0000",nan,nan,nan,"327,745,000.0000",773974000,-49915000,884627000
3,2017-12-31,AAOI,"43,624,000.0000","285,376,000.0000","82,936,000.0000","19,000.0000","12,801,000.0000",nan,nan,"4,811,000.0000",...,"5,716,000.0000",nan,"10,320,000.0000",nan,nan,"10,670,000.0000","11,164,000.0000",69535000,-901000,79855000
4,2017-12-31,AAON,"10,967,000.0000",nan,"21,457,000.0000","210,000.0000",nan,nan,nan,nan,...,"15,770,000.0000",nan,"17,561,000.0000",nan,nan,nan,"13,291,000.0000",86599000,-111000,104160000
5,2017-12-31,AAT,"38,069,000.0000","919,066,000.0000","82,610,000.0000","473,000.0000",nan,"21,549,000.0000",nan,"9,776,000.0000",...,"9,731,000.0000",nan,"23,792,000.0000",nan,nan,nan,"6,860,000.0000",56701000,-13815000,80493000
6,2017-12-31,AAWW,"65,740,000.0000","715,735,000.0000","280,809,000.0000","301,000.0000","915,000.0000","236,904,000.0000","40,361,000.0000","66,124,000.0000",...,"209,454,000.0000",nan,"107,865,000.0000",nan,"45,522,000.0000",nan,"39,189,000.0000",520087000,-856000,627952000
7,2017-12-31,AAXN,"8,592,000.0000","201,672,000.0000","75,105,000.0000","1,000.0000","15,755,000.0000","6,803,000.0000","14,927,000.0000","18,823,000.0000",...,"-2,071,000.0000",nan,"8,648,000.0000",nan,nan,"14,755,000.0000","39,613,000.0000",86003000,-1582000,94651000
8,2017-12-31,AB,nan,nan,nan,"1,592,187,000.0000",nan,nan,nan,nan,...,"78,593,000.0000",nan,"85,725,000.0000",nan,nan,nan,nan,0,0,85725000
9,2017-12-31,ABB,"5,419,000,000.0000","29,000,000.0000","4,526,000,000.0000","188,000,000.0000","1,250,000,000.0000",nan,"11,199,000,000.0000","2,581,000,000.0000",...,"423,000,000.0000",nan,"933,000,000.0000",nan,"-106,000,000.0000","398,000,000.0000","1,543,000,000.0000",8347000000,-352000000,9280000000
10,2017-12-31,ABBV,"1,474,000,000.0000","14,270,000,000.0000","9,303,000,000.0000","18,000,000.0000",nan,nan,"15,785,000,000.0000","27,559,000,000.0000",...,"52,000,000.0000",nan,"2,733,000,000.0000",nan,"500,000,000.0000","1,402,000,000.0000","1,678,000,000.0000",5006000000,-1540000000,7739000000
11,2017-12-31,ABC,"25,346,694,000.0000","4,579,809,000.0000","3,037,747,000.0000","2,814,000.0000",nan,nan,"6,076,110,000.0000","2,825,035,000.0000",...,"861,853,000.0000",nan,"425,926,000.0000",nan,"23,068,000.0000",nan,"558,522,000.0000",40040406000,-66907000,40466332000
12,2017-12-31,ABCB,"6,625,845,000.0000","508,404,000.0000","291,858,000.0000","38,735,000.0000","56,640,000.0000",nan,"125,532,000.0000","13,496,000.0000",...,"9,150,000.0000",nan,"35,654,000.0000",nan,"-6,022,000.0000",nan,"60,610,000.0000",54588000,-4441000,90242000
13,2017-12-31,ABDC,nan,"206,570,701.0000","13,882,956.0000","14,223.0000","4,934,962.0000","514,241.0000",nan,nan,...,"-13,368,270.0000",nan,"6,154,767.0000",nan,nan,nan,"2,046,664.0000",2046664,-19523037,8201431
14,2017-12-31,ABEO,"2,393,000.0000","529,421,000.0000","137,750,000.0000","469,000.0000",nan,nan,"32,466,000.0000","3,977,000.0000",...,"-8,450,000.0000",nan,"-8,750,000.0000",nan,nan,"5,706,000.0000","3,113,000.0000",8965000,300000,215000
15,2017-12-31,ABEV,"11,854,000,000.0000","53,662,800,000.0000","10,354,500,000.0000","57,614,100,000.0000","2,279,300,000.0000",nan,"31,401,900,000.0000","4,674,700,000.0000",...,"3,299,346,000.0000",nan,"6,255,105,000.0000",nan,"-405,950,000.0000",nan,"4,189,736,000.0000",8772134000,-1233244000,15027239000
16,2017-12-31,ABG,"92,400,000.0000","563,500,000.0000","4,700,000.0000","400,000.0000",nan,nan,"160,800,000.0000","49,600,000.0000",...,"42,500,000.0000",nan,"81,500,000.0000",nan,"-1,700,000.0000",nan,"180,500,000.0000",1589400000,-27100000,1670900000
17,2017-12-31,ABIO,"622,000.0000","141,266,000.0000","8,702,000.0000","12,000.0000",nan,nan,nan,nan,...,"-4,197,000.0000",nan,"-4,297,000.0000",nan,nan,"2,834,000.0000","1,463,000.0000",4297000,39000,0
18,2017-12-31,ABR,nan,"707,450,000.0000","104,374,000.0000","617,000.0000",nan,nan,"56,626,000.0000","317,748,000.0000",...,"31,283,225.0000",nan,"38,223,339.0000",nan,"47,848,494.0000",nan,"25,265,159.0000",85198341,-9825114,123421680
19,2017-12-31,ABT,"2,402,000,000.0000",nan,"9,407,000,000.0000","23,206,000,000.0000","1,944,000,000.0000",nan,"24,020,000,000.0000","21,473,000,000.0000",...,"-864,000,000.0000",nan,"1,181,000,000.0000",nan,nan,"523,000,000.0000","2,196,000,000.0000",6408000000,-607000000,7589000000
20,2017-12-31,ABTX,"2,213,974,000.0000","218,408,000.0000","182,103,000.0000","13,227,000.0000",nan,nan,"39,389,000.0000","3,274,000.0000",...,"3,204,000.0000",nan,"8,541,000.0000",nan,"1,790,000.0000",nan,"16,758,000.0000",18548000,-728000,27089000
21,2017-12-31,ACAD,"8,786,000.0000","1,559,343,000.0000","69,418,000.0000","12,000.0000",nan,nan,nan,"5,538,000.0000",...,"-68,871,000.0000",nan,"-68,859,000.0000",nan,nan,"149,189,000.0000","65,539,000.0000",112421000,1107000,43562000
22,2017-12-31,ACBI,"2,450,665,000.0000",nan,"319,333,000.0000","299,474,000.0000","36,223,000.0000",nan,"21,759,000.0000","5,874,000.0000",...,"-15,337,000.0000",nan,"6,387,000.0000",nan,"1,952,000.0000",nan,"16,056,000.0000",18008000,-2586000,24395000
23,2017-12-31,ACC,"53,741,000.0000","4,326,910,000.0000","41,182,000.0000","1,364,000.0000",nan,"9,300,000.0000",nan,"65,600,000.0000",...,"39,558,000.0000",nan,"61,234,000.0000",nan,nan,nan,"6,186,000.0000",166329000,-21478000,227563000
24,2017-12-31,ACCO,"178,200,000.0000","1,999,700,000.0000","76,900,000.0000","1,100,000.0000","137,900,000.0000",nan,"670,300,000.0000","839,900,000.0000",...,"74,000,000.0000",nan,"88,500,000.0000",nan,nan,nan,"101,500,000.0000",478300000,-18400000,566800000
25,2017-12-31,ACER,"95,873.0000","47,812,215.0000","15,644,355.0000","74,974.0000",nan,nan,"7,647,267.0000","118,600.0000",...,"-4,214,061.0000",nan,"-4,206,887.0000",nan,nan,"1,776,210.0000","2,430,677.0000",4206887,-7174,0
26,2017-12-31,ACGL,"3,731,319,000.0000","1,230,617,000.0000","606,199,000.0000","611,000.0000",nan,nan,"198,236,000.0000","990,199,000.0000",...,"201,792,000.0000",nan,"318,809,000.0000",nan,"169,624,000.0000",nan,"13,085,000.0000",1102299000,-60204000,1421108000
27,2017-12-31,ACHC,"102,299,000.0000","2,517,545,000.0000","67,290,000.0000","871,000.0000","3,731,000.0000",nan,"2,751,174,000.0000","87,348,000.0000",...,"69,689,000.0000",nan,"111,300,000.0000",nan,"82,666,000.0000",nan,"72,771,000.0000",613212000,-50661000,724512000
28,2017-12-31,ACHN,"5,253,000.0000","927,420,000.0000","43,496,000.0000","138,000.0000",nan,nan,nan,nan,...,"-23,203,000.0000",nan,"-24,355,000.0000",nan,nan,nan,"8,671,000.0000",24355000,1152000,0
29,2017-12-31,ACIA,"47,819,000.0000","324,944,000.0000","67,495,000.0000","4,000.0000","41,901,000.0000",nan,nan,nan,...,"-20,364,000.0000",nan,"4,943,000.0000",nan,nan,"24,430,000.0000","10,643,000.0000",81660000,1048000,86603000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13565,2018-12-31,XPO,"1,258,000,000.0000","3,311,000,000.0000","502,000,000.0000",nan,"8,000,000.0000","4,000,000.0000","4,467,000,000.0000","1,253,000,000.0000",...,"90,600,000.0000",nan,"164,500,000.0000",nan,nan,nan,"447,800,000.0000",4224400000,-46900000,4388900000
13566,2018-12-31,XRAY,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,0,0,0
13567,2018-12-31,XRX,"1,091,000,000.0000","3,321,000,000.0000","1,084,000,000.0000","232,000,000.0000","740,000,000.0000",nan,"3,867,000,000.0000","220,000,000.0000",...,"141,000,000.0000",nan,"282,000,000.0000",nan,"71,000,000.0000","94,000,000.0000","555,000,000.0000",2251000000,-104000000,2533000000
13568,2018-12-31,XYL,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,0,0,0
13569,2018-12-31,Y,"3,601,367,000.0000",nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,0,0,0
13570,2018-12-31,YELP,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,0,0,0
13571,2018-12-31,YNDX,"16,886,000,000.0000","70,191,000,000.0000","68,798,000,000.0000","263,000,000.0000","3,239,000,000.0000",nan,"54,070,000,000.0000","11,545,000,000.0000",...,"5,911,000,000.0000",nan,"7,471,000,000.0000",nan,nan,"5,854,000,000.0000","10,458,000,000.0000",31371000000,979000000,38842000000
13572,2018-12-31,YOGA,"4,905,204.0000","113,260,161.0000","11,447,318.0000","16,496.0000",nan,nan,"663,954.0000","13,291,502.0000",...,"-10,675,479.0000",nan,"-5,771,451.0000",nan,nan,nan,"12,295,666.0000",19814208,-4905487,14042757
13573,2018-12-31,YRCW,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,0,0,0
13574,2018-12-31,YRD,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,0,0,0
13575,2018-12-31,YTRA,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,0,475839000,0
13576,2018-12-31,YUM,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,0,0,0
13577,2018-12-31,YUMC,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,0,0,0
13578,2018-12-31,YY,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,0,0,0
13579,2018-12-31,Z,"7,471,000.0000","3,939,842,000.0000","651,058,000.0000","21,000.0000",nan,"45,819,000.0000","1,984,907,000.0000","215,904,000.0000",...,"-97,682,000.0000",nan,"-26,959,000.0000",nan,nan,"111,195,000.0000","213,627,000.0000",392294000,-79125000,365335000
13580,2018-12-31,ZAGG,nan,nan,nan,nan,nan,"865,000.0000",nan,nan,...,"14,318,000.0000",nan,"21,371,000.0000",nan,nan,nan,nan,145142000,-1164000,0
13581,2018-12-31,ZAYO,nan,nan,nan,nan,nan,"4,300,000.0000",nan,nan,...,nan,nan,"147,500,000.0000",nan,nan,nan,"122,700,000.0000",491600000,-2800000,0
13582,2018-12-31,ZBH,nan,nan,"542,800,000.0000","11,276,100,000.0000",nan,nan,"9,594,400,000.0000","7,684,600,000.0000",...,"-902,500,000.0000",nan,"383,500,000.0000",nan,"34,600,000.0000","101,200,000.0000","828,100,000.0000",1687500000,-1249400000,2071000000
13583,2018-12-31,ZEN,"16,820,000.0000","950,693,000.0000","126,518,000.0000","1,080,000.0000",nan,"26,914,000.0000",nan,"146,327,000.0000",...,"-33,250,000.0000",nan,"-36,517,000.0000",nan,nan,"45,142,000.0000","112,572,000.0000",208762000,-1549000,172245000
13584,2018-12-31,ZEUS,"95,367,000.0000",nan,"9,319,000.0000","130,778,000.0000",nan,nan,"2,358,000.0000","24,914,000.0000",...,"-1,317,000.0000",nan,"1,774,000.0000",nan,nan,nan,"66,311,000.0000",427816000,-3287000,429590000
13585,2018-12-31,ZFGN,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,0,0,0
13586,2018-12-31,ZG,"7,471,000.0000","3,939,842,000.0000","651,058,000.0000","21,000.0000",nan,"45,819,000.0000","1,984,907,000.0000","215,904,000.0000",...,"-97,682,000.0000",nan,"-26,959,000.0000",nan,nan,"111,195,000.0000","213,627,000.0000",392294000,-79125000,365335000
13587,2018-12-31,ZGNX,"7,989,000.0000","1,218,710,000.0000","68,454,000.0000","42,000.0000",nan,nan,"6,234,000.0000","102,500,000.0000",...,"-22,433,000.0000",nan,"-34,883,000.0000",nan,nan,"21,996,000.0000","12,887,000.0000",34883000,12450000,0
13588,2018-12-31,ZION,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,0,0,0
13589,2018-12-31,ZIOP,"707,000.0000","651,732,000.0000","61,729,000.0000","161,000.0000",nan,nan,nan,nan,...,"-12,481,000.0000",nan,"-12,762,000.0000",nan,nan,nan,"4,563,000.0000",12762000,281000,0
13590,2018-12-31,ZIXI,"10,516,000.0000",nan,"27,109,000.0000","60,947,000.0000","28,785,000.0000","9,300,000.0000","13,783,000.0000","15,251,000.0000",...,"9,240,000.0000",nan,"1,973,000.0000",nan,nan,"2,603,000.0000","9,875,000.0000",16475000,92000,18448000
13591,2018-12-31,ZNGA,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,0,0,0
13592,2018-12-31,ZTO,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,0,0,0
13593,2018-12-31,ZTS,"313,000,000.0000","1,026,000,000.0000","1,602,000,000.0000","5,000,000.0000","61,000,000.0000",nan,"2,519,000,000.0000","2,046,000,000.0000",...,"345,000,000.0000",nan,"442,000,000.0000",nan,nan,"125,000,000.0000","418,000,000.0000",1122000000,-24000000,1564000000
13594,2018-12-31,ZYNE,nan,nan,nan,nan,nan,nan,nan,nan,...,nan,nan,nan,nan,nan,nan,nan,0,0,0